.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}
/* material design icons */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#new_post {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#loginForm, #registerForm {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
} 