[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}
/* About */

.about-card.mdl-card {
    width: 512px;
}

.about-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('/media/images/banner.jpg') center / cover;
}

.about-card > .mdl-card__supporting-text {
    margin-top: 0 !important;
}
/* Write í¼ */

.write-card > .mdl-card__supporting-text {
    padding: 0 !important;
    margin-top: 0 !important;
    /*margin-bottom: 0 !important;*/
}

.write-card > .mdl-card__supporting-text {
    margin-bottom: 0 !important;
}

.write-card .mdl-textfield {
    width: 100% !important;
}

.write-card textarea {
    border: none;
    outline: none;
    margin: 2em 0 2em 0;
}

/* Post */

.post-card .mdl-card__title {
    flex-direction: column;
}

.post-card .mdl-card__title-text {
    align-self: flex-start;
    line-height: 180%;
}

.post-card .mdl-card__subtitle-text {
    align-self: flex-start;
}

.load-more-container {
    text-align: center;
}

.load-more-container .load-more-btn {
    width: 100%;
}

/* About */
.about-card {
    margin: auto;
}

/* Load More */
.load-more-container {
    margin-top: 0;
}