<div>
    <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">{{ post.email }}</h1> 
    </div>
    <div class="mdl-card__menu">
        <!-- Right aligned menu below button -->
        <button id="menu-edit-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons">more_vert</i> </button>
        <ul class="menu-edit mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-edit-{{$index}}">
            <li class="mdl-menu__item">Edit</li>
            <li class="mdl-menu__item">Delete</li>
        </ul>
    </div>
    <div class="mdl-card__supporting-text">
        <p>{{ post.content }}</p>
        <!--<h6>{{ post.id | date : 'medium' }}</h6>-->
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">Read More</button>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">favorite</i></button>
        <button id="button-share-{{$index}}" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">share</i></button>
    </div>
</div>
</div>