<div class="post-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop mdl-cell--1-offset-tablet mdl-cell--3-offset-desktop">
    <div class="mdl-card__title">
        <!--<i class="material-icons">person</i>-->
        <h6 class="mdl-card__title-text">{{ post.author || post.email }}</h6>
        <!--<h7 class="mdl-card__subtitle-text">{{ post.shared_at*1000 | date:'medium' }}</h7>-->
        <h7 class="mdl-card__subtitle-text">{{ post._ago }}</h7>
    </div>
    <div class="mdl-card__menu">
        <!-- Right aligned menu below button -->
        <button id="edit-menu-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" ng-class="{ 'ng-hide': !post._isAuthor }">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="edit-menu-{{$index}}">
            <!--<li class="mdl-menu__item" ng-click="edit(post);">Edit</li>-->
            <li class="mdl-menu__item" ng-click="delete(post);">Delete</li>
        </ul>
    </div>
    <div class="mdl-card__supporting-text">
        <p>{{ post.content }}</p>
        <!--<h6>{{ post.id | date : 'medium' }}</h6>-->
        <!--<div class="material-icons mdl-badge mdl-badge--overlap mdl-color-text--pink" data-badge="{{ post.likes || 0 }}">favorite</div>-->
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <!--<button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">Read More</button>-->


        <!-- Like Button -->
        <button ng-click="toggleLike(post)" ng-class="{ 'mdl-color-text--pink': post._likedByMe }" ng-disabled="!currentAuth" id="like-button-{{$index}}"
            class="mdl-button">
            Like
            <!--<i class="material-icons">favorite</i>-->
        </button>
        <span for="like-button-{{$index}}" class="mdl-tooltip mdl-tooltip--top">Like</span>

        <!--<button class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">favorite</i></button>
        <button id="share-post-1" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">share</i></button>-->

        <!-- Share Button -->
        <!--<button ng-disabled="!currentAuth" id="share-button-{{$index}}" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300">
            <i class="material-icons">share</i>
        </button>
        <span for="share-button-{{$index}}" class="mdl-tooltip mdl-tooltip--top">Share</span>-->
        <!--<div class="mdl-layout-spacer"></div>-->
    </div>
</div>